@font-face {
	font-family: Michroma;
	src: url(assets/Michroma-Regular.ttf)
}

@font-face {
	font-family: Necto Mono;
	src: url(assets/necto-mono.woff2)
}

body {
	font-family: Necto Mono;
	background-color: black;
	color: #ffffff;
}

main {
	height: 100%;
	margin: 50px 30px;

}

header {
	line-height:  0.5;
}

section {
	font-size: 60px;
	margin-top:  50px;
}


a {
	font-family: Michroma;
	color:  white;
}

a:hover {
	color:  blue;
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vmax;
  height: 100vmax;
  pointer-events: none;
  z-index: -1;
}
